:root {
  --link-color: #263238;
  --text-button-color: #000000;
  --border-button-color: #263238;
  --logo-first-color: #000000;
  --logo-second-color: #939393;
  --title-section-main-color: #000000;
  --text-main-color: #8f95a5;
  --button-text-color: #ffffff;
  --bg-button-color: #263238;
  --title-section-main-color: #000000;
  --text-accent-color: #263238;
  --text-main-color: #8f95a5;
  --bg-color: #f5f5f5;
  --button-text-color: #ffffff;
  --bg-button-color: #263238;
  --title-section-main-color: #000000;
  --text-main-color: #8f95a5;
  --numbers-color: #2a3246;
  --title-section-main-color: #000000;
  --text-main-color: #8f95a5;
  --text-accent-color: #263238;
  --price-bg-color: #eeeeee;
  --price-per-period-color: #546269;
  --title-section-main-color: #000000;
  --text-main-color: #8f95a5;
  --text-accent-color: #263238;
  --button-border-color: #8f95a5;
  --button-text-color: #ffffff;
  --bg-button-color: #263238;
  --link-color: #8f95a5;
  --main-font-family: Poppins, Times New Roman, Arial, Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font-family);
  color: var(--text-main-color);
  letter-spacing: normal;
}

.no-scroll {
  overflow: hidden;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-list {
  display: -webkit-box;
  gap: 50px;
  margin-left: 236px;
}

.header-button {
  display: block;
  margin-left: 121px;
  border: 2px solid var(--border-button-color);
  border-radius: 10px;
  background-color: var(--button-text-color);
  color: var(--text-button-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  width: 312px;
  height: 70px;
}

.page-item {
  list-style-type: none;
}

.page-link {
  color: var(--link-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.hero-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--title-section-main-color);
  margin-bottom: 40px;
}

.hero-image {
  width: 654px;
  height: 510px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-info {
  width: 540px;
  margin-right: 144px;
}

.hero-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-main-color);
  margin-bottom: 60px;
}

.hero-button {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--button-text-color);
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 64px;
  padding-right: 64px;
  width: 426px;
  border: none;
  background-color: var(--bg-button-color);
  border-radius: 10px;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.section-footer {
  padding-top: 55px;
  padding-bottom: 55px;
}

.section-main {
  padding-bottom: 180px;
}

.container {
  width: 100%;
  padding-left: 131px;
  padding-right: 131px;
  margin: 0 auto;
  width: 1600px;
}

.skills-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--title-section-main-color);
  text-align: center;
  margin-bottom: 60px;
}

.skills-title-block {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-accent-color);
  margin-bottom: 20px;
}

.skills-text {
  margin-bottom: 30px;
  padding-right: 43px;
}

.skills-text-block {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main-color);
  text-align: left;
}

.skills-block-speaking {
  background-color: var(--bg-color);
  width: 426px;
  padding-top: 32px;
  padding-bottom: 154px;
  padding-left: 18px;
  padding-right: 18px;
  height: auto;
  border-radius: 10px;
}

.block-2 {
  margin-bottom: 20px;
}

.skills-img {
  margin-bottom: 24px;
}

.skills-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--button-text-color);
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 64px;
  padding-right: 63px;
  background-color: var(--bg-button-color);
  border: none;
  border-radius: 10px;
  display: inline-block;
}

.block-writing {
  margin-bottom: 30px;
  padding-right: 50px;
}

.skills-block-writing {
  width: 426px;
  padding: 32px 18px;
  background-color: var(--bg-color);
  border-radius: 10px;
  height: 579px;
}

.skills-block-reading {
  width: 426px;
  padding: 32px 18px;
  background-color: var(--bg-color);
  border-radius: 10px;
  height: 579px;
}

.block-reading {
  padding-right: 31px;
  margin-bottom: 30px;
}

.skills-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.skills-block-listening {
  background-color: var(--bg-color);
  width: 882px;
  height: 338px;
  border-radius: 10px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.logo-header {
  font-size: 36px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;
}

.logo-begin {
  color: var(--logo-first-color);
}

.logo-end {
  color: var(--logo-second-color);
}/*# sourceMappingURL=main.css.map */