.about-container {
  @include desktop {
    display: flex;
    gap: 146px;
  }
}

.about-title {
  color: var(--title-section-main-color);
  font-weight: 600;
  line-height: 3.33;
  font-size: 24px;
  text-align: center;
  @include tablet {
    text-align: left;
    font-size: 30px;
    line-height: 2.67;
  }
  @include desktop {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
}

.about-img {
  margin-bottom: 23px;
  @include tablet {
    width: 295px;
    height: 295px;
    margin-bottom: 0;
    position: absolute;
    top: 30px;
    right: 0;
  }
}

.about-block {
  position: relative;
}

.about-info {
  @include tablet {
    width: 321px;
  }
}

.about-text {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-main-color);
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;

  @include tablet {
    text-align: left;
    font-size: 14px;
  }
  @include desktop {
    font-size: 20px;
  }
}

.about-list {
  gap: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include tablet {
    gap: 72px;
    flex-direction: row;
    align-items: center;
  }
  @include desktop {
    gap: 131px;
  }
}

.about-item {
  text-align: center;
}

.about-statistics {
  display: flex;
  flex-direction: column;
  gap: 9px;

  @include tablet {
    display: table-caption;
  }
}

.statistics-number {
  font-weight: 600;
  // margin-bottom: 12px;
  color: var(--numbers-color);
  font-size: 24px;
  @include tablet {
    font-size: 22px;
    line-height: 1.5;
  }
  @include desktop {
    // line-height: 1.5;
    font-size: 48px;
  }
}

.statistics-text {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-main-color);
  font-size: 15px;

  @include tablet {
    font-size: 13px;
  }

  @include desktop {
    font-size: 20px;
  }
}
