.top-btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: rgb(203, 206, 216); /* Set a background color */
  color: black; /* Text color */
  border: 2px solid var(--border-button-color);
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

.top-btn:hover {
  background-color: rgba(
    107,
    126,
    135,
    0.611
  ); /* Add a dark-grey background on hover */
}
