.top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d1d3d4;
  color: white;
  font-weight: bold;
  border: 1px solid grey;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-btn:hover {
  background-color: #898a8c;
}

.top-btn:focus {
  outline: none;
}
