.section {
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  padding-top: 36px;
  padding-bottom: 29px;

  @include tablet {
    padding-top: 39px;
    padding-bottom: 40px;
  }
  @include desktop {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.section-footer {
  padding-top: 55px;
  padding-bottom: 48px;

  @include tablet {
    padding-top: 35px;
    padding-bottom: 15px;
  }

  @include desktop {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.section-main {
  padding-bottom: 50px;

  @include tablet {
    padding-bottom: 52px;
  }
  @include desktop {
    padding-bottom: 170px;
  }
}

.section-contacts {
  @include tablet {
    padding-bottom: 52px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;

  @include mobile {
    padding-left: 14px;
    padding-right: 14px;
    max-width: 320px;
  }

  @include tablet {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 768px;
  }

  @include desktop {
    max-width: 1600px;
    padding-left: 131px;
    padding-right: 131px;
  }
}
