.contacts-title {
  font-weight: 600;
  color: var(--title-section-main-color);
  font-size: 24px;
  line-height: 1.5;
  position: absolute;
  top: -50px;
  left: 80px;

  @include tablet {
    position: static;
    font-size: 30px;
    margin-bottom: 20px;
  }

  @include desktop {
    font-size: 48px;
    line-height: 1.5;

    margin-bottom: 60px;
  }
}

.contact-info {
  width: 100%;
}

.contacts-info-details {
  margin-right: 0;
  @include desktop {
    padding-right: 114px;
  }
}

.container-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px;
  position: relative;

  @include tablet {
    flex-wrap: nowrap;
  }

  @include desktop {
    gap: 144px;
  }
}

.contact-img {
  @include tablet {
    width: 253px;
    height: 228px;
  }
  @include desktop {
    width: 425px;
    height: 430px;
  }
}

.contacts-text {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-main-color);
  font-size: 14px;
  text-align: center;
  margin-bottom: 31px;

  @include tablet {
    text-align: left;
    padding-right: 114px;
  }

  @include desktop {
    font-size: 20px;
    margin-bottom: 30px;
    padding-right: 10px;
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  @include tablet {
    flex-direction: row;
    gap: 6px;
  }

  @include desktop {
    gap: 30px;
  }
}

.form-email {
  width: 100%;
  width: 291px;
  color: var(--text-main-color);
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--button-border-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.875;

  @media screen and (max-width: 387px) {
    padding-right: 160px;
  }

  @include tablet {
    width: 283px;
    font-size: 12px;
    padding-left: 24px;
    line-height: 1.5;
    border-radius: 5px;
  }

  @include desktop {
    width: 425px;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 10px;
  }
}

.form-button {
  font-weight: 500;
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  background-color: var(--bg-button-color);
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 14px;
  padding: 20px 109.5px;

  @include tablet {
    width: 145px;
    font-size: 13px;
    padding: 15px 39.5px;
  }

  @include desktop {
    width: 312px;
    font-size: 20px;
    padding: 20px 56px;
    border-radius: 10px;
  }
}
