.section {
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.section-footer {
  padding-top: 55px;
  padding-bottom: 55px;
}

.section-main {
  padding-bottom: 180px;
}

.container {
  width: 100%;
  padding-left: 131px;
  padding-right: 131px;
  margin: 0 auto;
  width: 1600px;
}
