.section {
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  padding-top: 20px;
  padding-bottom: 16px;

  @include desktop {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.section-footer {
  padding-top: 55px;
  padding-bottom: 48px;

  @include tablet {
    padding-top: 35px;
    padding-bottom: 15px;
  }

  @include desktop {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.section-main {
  padding-top: 50px;
  padding-bottom: 50px;

  @include tablet {
    padding-bottom: 52px;
    padding-top: 60px;
  }
  @include desktop {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.section-contacts {
  padding-top: 80px;
  @include tablet {
    padding-bottom: 60px;
    padding-top: 0;
  }
  @include desktop {
    padding-top: 50px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;

  @include mobile {
    padding-left: 14px;
    padding-right: 14px;
    max-width: 320px;
  }

  @include tablet {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 768px;
  }

  @include desktop {
    max-width: 1600px;
    padding-left: 131px;
    padding-right: 131px;
  }
}
