.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.list-agreements {
  display: inline-flex;
  gap: 80px;
}

.link-agreement {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--link-color);
  padding-top: 31px;
}

.container-footer:before {
  content: '';
  position: absolute;
  top: -22px;
  display: block;
  width: 1338px;
  height: 1px;
  background-color: var(--line-psevdo-color);
}
