.header {
  width: 100vw;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  padding-top: 12px;
  background-color: white;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    padding-top: 20px;
  }
  @include desktop {
    padding-top: 12px;
  }
}

.header.scrolled {
  background-color: rgb(212, 212, 212); /* Колір при прокрутці */
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    position: relative;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.page-list {
  display: none;

  @include desktop {
    display: -webkit-box;
    gap: 50px;
    margin-left: 236px;
  }
}

.header-button {
  display: none;
  @include desktop {
    display: block;
    margin-left: 121px;
    border: 2px solid var(--border-button-color);
    border-radius: 10px;
    background-color: var(--button-text-color);
    color: var(--text-button-color);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    width: 312px;
    height: 70px;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    background-color: #c7cfd3;
  }
}

.page-item {
  list-style-type: none;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    scale: 1.2;
  }
}

.page-link {
  color: var(--link-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #21333c;
  }
}
