.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    display: flex;
    align-items: center;
    position: relative;
  }
  outline: 1px solid red;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-list {
  display: none;

  @include desktop {
    display: -webkit-box;
    gap: 50px;
    margin-left: 236px;
  }
}

.header-button {
  display: none;
  @include desktop {
    display: block;
    margin-left: 121px;
    border: 2px solid var(--border-button-color);
    border-radius: 10px;
    background-color: var(--button-text-color);
    color: var(--text-button-color);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    width: 312px;
    height: 70px;
  }
}

.page-item {
  list-style-type: none;
}

.page-link {
  color: var(--link-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
