.hero {
  padding-top: 70px;
  padding-bottom: 50px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 52px;
  }

  @include desktop {
    padding-top: 180px;
    padding-bottom: 50px;
  }
}

.hero-title {
  font-weight: 600;
  line-height: 1.25;
  color: var(--title-section-main-color);

  text-align: center;

  @include tablet {
    font-size: 36px;
    text-align: left;
  }
  @include desktop {
    font-size: 64px;
    text-align: left;
  }
}

.hero-container {
  @include tablet {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 8px;
  }
  @include desktop {
    flex-direction: row-reverse;
    gap: 6px;
  }
}

.hero-info {
  @include tablet {
    width: 338px;
  }

  @include desktop {
    width: 540px;
    margin-right: 144px;
  }
}

.hero-text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 33px;

  @include tablet {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 32px;
  }
  @include desktop {
    font-size: 24px;
    color: var(--text-main-color);
    margin-bottom: 60px;
  }
}

.title-svg {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.icon-light-bulb {
  visibility: hidden;
  display: none;

  @include tablet {
    visibility: visible;
    display: block;
  }
  @include desktop {
    visibility: hidden;
    display: none;
  }
}

.hero-button {
  color: var(--button-text-color);
  background-color: var(--bg-button-color);
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  padding: 16px 99px;
  width: 289px;
  border-radius: 5px;

  @include tablet {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    padding: 19px 67px;
    width: 236px;
  }

  @include desktop {
    font-size: 36px;
    font-weight: 400;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 64px;
    padding-right: 64px;
    width: 426px;
    border-radius: 10px;
  }

  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #556770;
  }
}

.hero-img {
  margin-bottom: 16px;

  @include tablet {
    width: 352px;
    margin-bottom: 0;
  }
  @include desktop {
    width: 654px;
    height: 510px;
  }
}
