.hero-title {
  font-weight: 600;
  line-height: 1.25;
  color: var(--title-section-main-color);
  margin-bottom: 20px;

  @include tablet {
    font-size: 36px;
    margin-bottom: 25px;
  }
  @include desktop {
    font-size: 64px;
    margin-bottom: 40px;
  }
}

.hero-image {
  width: 654px;
  height: 510px;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  @include tablet {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  @include desktop {
    flex-direction: row-reverse;
  }
}

.hero-info {
  @include tablet {
    width: 338px;
    margin-right: 22px;
  }

  @include desktop {
    width: 540px;
    margin-right: 144px;
  }
}

.hero-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-main-color);
  margin-bottom: 60px;
}

.hero-button {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--button-text-color);
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 64px;
  padding-right: 64px;
  width: 426px;
  border: none;
  background-color: var(--bg-button-color);
  border-radius: 10px;
}

.hero-img {
  @include tablet {
    width: 352px;
    // height: 352px;
  }
  @include desktop {
    width: 654px;
    height: 510px;
  }
}
