.hero-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--title-section-main-color);
  margin-bottom: 40px;
}

.hero-image {
  width: 654px;
  height: 510px;
}

.hero-container {
  display: flex;
}

.hero-info {
  width: 540px;
  margin-right: 144px;
}

.hero-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-main-color);
  margin-bottom: 60px;
}

.hero-button {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--button-text-color);
  // align-items: center;
  // letter-spacing: 0.03em;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 64px;
  padding-right: 64px;
  width: 426px;
  border: none;
  background-color: var(--bg-button-color);
  border-radius: 10px;
}
