.logo-header {
  font-family: var(--main-font-family);
  font-size: 36px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.logo-begin {
  color: var(--logo-first-color);
}

.logo-end {
  color: var(--logo-second-color);
}
