.logo {
  font-size: 24px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;

  @include tablet {
    font-size: 36px;
  }
}

.logo-begin {
  color: var(--logo-first-color);
}

.logo-end {
  color: var(--logo-second-color);
}

.logo-footer {
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 0;
  }
}
