.mob {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
  padding: 0;
  fill: var(--btn-color-menu);
  @include desktop {
    display: none;
    width: 39px;
    height: 39px;
  }
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mob-list {
  margin-top: 90px;
  margin-bottom: 80px;

  @media screen and (min-width: 575px) {
  }

  @media screen and (min-width: 767px) {
    margin-bottom: 62px;
  }
}

.mob-open {
  top: 37px;
  right: 15px;
  @include tablet {
    right: 204px;
  }
}

.mob-close {
  position: absolute;
  top: 39px;
  right: 15px;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
  padding: 0;

  @media screen and (min-width: 575px) {
    top: 39px;
    right: 20px;
  }
  @media screen and (min-width: 767px) {
    top: 39px;
    right: 20px;
  }
  @include desktop {
    display: none;
  }
}

.container-mob {
  display: none;
  height: 100%;

  @media screen and (max-width: 1600px) {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100dvh;
  background-color: var(--bg-color-menu);
  padding-top: 39px;
  padding-right: 14px;
  padding-left: 14px;
  transform: translateX(1000%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 575px) {
    padding-top: 48px;
    padding-right: 10px;
    padding-left: 33px;
  }
  @media screen and (min-width: 767px) {
    padding-top: 39px;
    padding-left: 39px;
    padding-right: 23px;
  }

  @include desktop {
    display: none;
  }
}

.logo-mob-menu {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;

  @media screen and (min-width: 575px) {
    display: none;
  }
}

// .logo-mob-menu,
// .logo-tablet-menu {
//   position: absolute;
//   left: 14px;
// }

.logo-mob-begin,
.logo-tablet-begin {
  color: var(--logo-first-color);
}

.logo-mob-end,
.logo-tablet-end {
  color: var(--logo-second-color);
}

.logo-tablet-menu {
  @media screen and (max-width: 574px) {
    display: none;
  }

  @media screen and (min-width: 575px) {
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
  }
}

.mob-link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: var(--link-color-menu);

  @media screen and (min-width: 575px) {
    font-size: 24px;
  }

  @include tablet {
    font-size: 22px;
  }
}

.mob-icon-close {
  width: 32px;
  height: 32px;

  @media screen and (min-width: 575px) {
    width: 39px;
    height: 39px;
  }
}

.btn-talk {
  display: block;
  border: 2px solid var(--border-button-color);
  border-radius: 5px;
  background-color: var(--button-text-color);
  color: var(--text-button-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  width: 291px;
  height: 65px;
  padding: 17.5px 101px;

  // position: absolute;
  // bottom: 0;
  // left: 14px;

  @media screen and (min-width: 575px) {
    width: 330px;
    height: 70px;
    font-size: 22px;
    padding: 18.5px 116.5px;
  }

  @media screen and (min-width: 767px) {
    width: 210px;
    height: 60px;
    font-size: 18px;
    padding: 16.5px 65px;
  }
}
