.pricing-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--title-section-main-color);
  text-align: center;
  margin-bottom: 60px;
  @include tablet {
    font-size: 30px;
  }

  @include desktop {
    font-size: 48px;
  }
}

.pricing-list {
  // display: block;
  @include tablet {
    display: flex;
    gap: 10px;
  }
  @include desktop {
    gap: 30px;
  }
}

.pricing-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 100%;

  margin-bottom: 40px;
  @include tablet {
    height: 450px;
  }
  @include desktop {
    height: 584px;
  }
}

.pricing-title-block {
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  color: var(--text-accent-color);
  margin-bottom: 20px;

  @include tablet {
    text-align: left;
    font-size: 20px;
  }

  @include desktop {
    font-size: 30px;
  }
}

.pricing-text {
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-main-color);
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;

  @include tablet {
    text-align: left;
    font-size: 14px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.subtitle {
  @include tablet {
    margin-bottom: 48px;
  }
}

.pricing-price {
  background-color: var(--price-bg-color);
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;

  @include tablet {
    position: absolute;
    bottom: 0;
    padding-left: 17.5px;
    padding-right: 17.5px;
  }

  @include desktop {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 23px;
    padding-right: 22.5px;
  }
}

.pricing-sum {
  color: var(--text-accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  @include tablet {
    font-size: 22px;
    line-height: 1.33;
  }
  @include desktop {
    font-size: 24px;
    line-height: 1.5;
  }
}

.pricing-period {
  font-weight: 400;
  color: var(--price-per-period-color);
  font-size: 14px;
  line-height: 1.5;

  @include tablet {
    font-size: 16px;
  }
}

.pricing-img {
  @include tablet {
    width: 210px;
    height: 210px;
  }
  @include desktop {
    margin-bottom: 31px;
    width: 426px;
    height: 320px;
  }
}
