.skills-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--title-section-main-color);
  text-align: center;
  margin-bottom: 60px;
}

.skills-title-block {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-accent-color);
  margin-bottom: 20px;
}

.skills-text {
  margin-bottom: 30px;
  padding-right: 43px;
}

.skills-text-block {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main-color);
  text-align: left;
}

.skills-block-speaking {
  background-color: var(--bg-color);
  width: 426px;
  padding-top: 32px;
  padding-bottom: 154px;
  padding-left: 18px;
  padding-right: 18px;
  height: auto;
  border-radius: 10px;
  //   position: relative;
}

.block-2 {
  margin-bottom: 20px;
}

.skills-img {
  margin-bottom: 24px;
}

.skills-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--button-text-color);
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 64px;
  padding-right: 63px;
  background-color: var(--bg-button-color);
  border: none;
  border-radius: 10px;
}

.block-writing {
  margin-bottom: 30px;
  //   display: block;
  padding-right: 50px;
}

.skills-block-writing {
  width: 426px;
  padding: 32px 18px;
  background-color: var(--bg-color);
  border-radius: 10px;
}

.skills-block-reading {
  width: 426px;
  padding: 32px 18px;
  background-color: var(--bg-color);
  border-radius: 10px;
}

.block-reading {
  padding-right: 31px;
  margin-bottom: 30px;
}
