.skills-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--title-section-main-color);
  text-align: center;
  margin-bottom: 32px;

  @include tablet {
    font-size: 30px;
    margin-bottom: 51px;
  }
  @include desktop {
    font-size: 48px;
    margin-bottom: 60px;
  }
}

.skills-title-block {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-accent-color);

  @include tablet {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.skills-text-listening {
  @include tablet {
    margin-bottom: 7px;
  }
  @include desktop {
    margin-bottom: 80px;
    padding-right: 43px;
  }
}

.skills-text-block {
  font-weight: 400;
  color: var(--text-main-color);
  text-align: left;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 42px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.block-2 {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 25px;
  }
  @include desktop {
    margin-bottom: 20px;
  }
}

.skills-img {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-bottom: 24px;
  }
}

.skills-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--button-text-color);
  background-color: var(--bg-button-color);
  border: none;
  border-radius: 10px;
  display: inline-block;

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.load-more-speaking {
  padding: 14px 43px;

  @include desktop {
    padding: 17px 64px;
  }

  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #556770;
  }
}

.load-more-listening {
  @include tablet {
    left: 18px;
  }
}

.load-more {
  padding: 13px 43px;

  @include desktop {
    padding: 15px 52px;
  }
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #556770;
  }
}

.block-writing {
  @include tablet {
    margin-bottom: 13px;
  }
  @include desktop {
    padding-right: 50px;
    margin-bottom: 14px;
  }
}

.skills-block-speaking {
  position: relative;
  background-color: var(--bg-color);

  border-radius: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  @include tablet {
    width: 224px;
    margin-bottom: 0;
    padding-top: 30px;
  }

  @include desktop {
    width: 426px;
    padding-top: 26px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.skills-block-writing {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 10px;
  height: 100%;
  padding-left: 16px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-bottom: 21px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include tablet {
    width: 227px;
    padding-top: 14px;
    margin-bottom: 0;
  }

  @include desktop {
    width: 426px;
    padding: 18px 18px;
  }
}

.skills-block-reading {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 10px;
  height: 100%;
  padding-left: 16px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    width: 228px;
    margin-bottom: 0;
    padding-top: 55px;
  }

  @include desktop {
    width: 426px;
    padding: 18px 18px;
    border-radius: 10px;
  }
}

.skills-title-reading {
  @include desktop {
    margin-top: -23px;
  }
}

.block-reading {
  @include tablet {
    margin-bottom: 18px;
  }
  @include desktop {
    padding-right: 31px;
    margin-bottom: 14px;
  }
}

.skills-blocks {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 0;
    display: flex;
    gap: 10px;
    position: relative;
  }

  @include desktop {
    gap: 30px;
  }
}

.skills-block-listening {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 10px;
  border: none;
  padding: 32px 18px;
  height: auto;
  padding-left: 16px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row-reverse;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 22px;
    padding-right: 0;
    width: 462px;
    margin-bottom: -2px;
  }

  @include desktop {
    width: 882px;
    margin-bottom: 0;
  }
}

.listening-text-button {
  @include desktop {
    padding-top: 30px;
  }
}

.skills-listenig-btn {
  display: flex;
  justify-content: center;

  @include tablet {
    justify-content: left;
  }
}

.listening-text {
  @include desktop {
    padding-right: 114px;
  }
}

.skills-img-listening {
  margin-bottom: 0;
  @include tablet {
    width: 202px;
    height: 134px;
  }

  @include desktop {
    width: 408px;
    height: 274px;
  }
}

.block-listening {
  @include tablet {
    margin-bottom: 6px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.img-writing {
  width: 204px;
  height: 204px;
  @include tablet {
    width: 200px;
    height: 200px;
  }
  @include desktop {
    width: 390px;
    height: 264px;
  }
}
