body {
  font-family: var(--main-font-family);
  color: var(--text-main-color);
  letter-spacing: normal;
}

.no-scroll {
  overflow: hidden;
}

button,
a {
  cursor: pointer;
}

html {
  scroll-padding-top: 37px;

  @media screen and (min-width: 768px) {
    scroll-padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    scroll-padding-top: 75px;
  }
}
